# *****************************************************************************
# .gitignore
# *****************************************************************************

# Purpose:
# The git program is informed here to ignore the following directories and
# files while performing its distributed revision control and source code
# management. 
# Author:
# Cedric H. David, 2025-2025


# *****************************************************************************
# List of files that git will ignore
# *****************************************************************************

# -----------------------------------------------------------------------------
# Local directories for input and output files
# -----------------------------------------------------------------------------
input/
output/

# -----------------------------------------------------------------------------
# Python directories not needed for git repository
# -----------------------------------------------------------------------------
__pycache__/
build/
*.egg-info/


# *****************************************************************************
# End
# *****************************************************************************
